body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
    url("../public/images/background.jpg"),
    radial-gradient(rgb(0, 0, 0), rgba(49, 0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: 60% 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  overflow-y: scroll; 
  scroll-behavior: smooth; 
  height: calc(100vh - 50px);
  margin-top: 50px;
  scrollbar-width: none;
}

#tsparticles{
  position: relative;
  z-index: -1;
}

.css-99wn1p-MuiList-root-MuiMenu-list{
  background-color: black;
}

.css-e9tnlh-MuiButtonBase-root-MuiMenuItem-root:hover{
  color: gold;
}

.vertical-timeline-element-content{
  transition: box-shadow 0.3s ease-in-out;
  
  &:hover{
  box-shadow: 0 0 4px 6px gold !important;
}}

.vertical-timeline::before{
  background:gold !important;
}

.vertical-timeline-element-icon{
  box-shadow: 0 0 0 4px gold !important;
  background: rgb(0, 0, 0) !important;
}